body {
    margin: 0;
    font-family: 'Calibri', sans-serif;
}

.main-header {
    height: 50px;
    margin-bottom: 20px;
    background: #f7df1e;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.main-header__container {
    position: relative;
    width: 1130px;
    margin: 0 auto;
}

.open-support {
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.workspace {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    max-width: 1130px;
    height: 600px;
    margin: 0 auto;
}

.block {
    width: 550px;
    flex-grow: 1;
    margin-bottom: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
}

.block-js-editor {
    margin-right: 30px;
}

.block__name {
    height: 30px;
    padding-left: 10px;
    text-align: left;
    line-height: 30px;
    border-bottom: 1px solid black;
    font-weight: 600;
    box-sizing: border-box;
}

iframe {
    border: 0;
    min-height: 217px;
    text-align: left;
    width: 550px;
    overflow: hidden;
}

.js_editor {
    height: 548px;
}

.block-result {
    position: relative;
}

.percent_result {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 30px;
    padding-right: 20px;
}

.block-result__controls {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
}

.block-result__controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.support-window {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.support__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #f7df1e;
    border: none;
    cursor: pointer;
}

.support {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    padding: 50px;
    padding-top: 40px;
    width: 600px;
    min-height: 100px;
    background-color: white;
    border: 3px solid #f7df1e;
    box-sizing: border-box;
}

.code-highlight {
    background-color: blue;
    color: white;
}